html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

button,
a {
  font: inherit;
}

button {
  border: 0;
}

a {
  color: inherit;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
